
html {
  height: 100vh;
}
body {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1550px;
  }

.content-height {
  height: 100vh; 
  width:  100%;
}

div {
  padding:0px;
  margin:0px;
}

a {
  margin-right: 25px;
  color: inherit;
}
a:hover {
 
}

button:focus {
    outline:0;
}
/* 
.content-height::-webkit-scrollbar { 
  display: none; 
  width:0px;
} */